{
   "extends": [
      "eslint:recommend", 
      "plugin:import/erros",
      "plugin:react/recommend",
      "plugin:jsx-ally/recommend",
      "pluggin:react-hooks/recommend",
      "prettier"
   ],
   "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "moduloe",
      "ecmaFeature": {
         "jsx": true
      }
   },
   "rules": {
      "react/prop-types": "off",
      "react/jsx-uses-react": "off",
      "react/react-in-jsx-scope": "off",
      "react/self-closing-comp": "warn",
      "no-unused-vars": "off",
      "import/no-unresolved": "off"
   },
   "plugins": [
      "react",
      "import",
      "jsx-ally"
   ],
   "env": {
      "ese":true,
      "browser":true,
      "jest":true,
      "node":true,
   },
   "settings" : {
      "react": {
         "version":"detect"
      }
   }
}